This website is for upcoming artists to put their work
online and try to make a name for themselves. We would place
sample artwork on the main page and let people click on
something they like to browse the artists' other works.
We would eventually allow prints to be purchased and artists to profit
off of their work.