body {
  max-width: 500px;
  margin: 0 auto;
}

.messages {
  margin-bottom: 20px;
}

.out-message {
  padding: 5px;
  background: rgb(240, 217, 255);
}

.in-message {
  padding: 5px;
  background-color: rgb(255, 0, 0);
}